{% block content %}
<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/pristatymas.html" class="nav-link px-2 text-body-secondary">Pristatymas</a></li>
      <li class="nav-item"><a href="/grazinimas.html" class="nav-link px-2 text-body-secondary">Grąžinimas</a></li>
      <li class="nav-item"><a href="/privatumo_politika" class="nav-link px-2 text-body-secondary">Privatumo politika</a></li>
      
    </ul>
    <p class="text-center mt-4 text-body-secondary">&copy; 2023 One svetainė</p>
  </footer>
</div>
 {% endblock %}
