<!DOCTYPE html>
<html>
<head>
    <title>Kontaktai</title>
    <style>
        h1 {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        p {
            text-align: center;
            text-indent: 50px;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Kontaktai</h1>
    
    <p> +37000000000

 klientams@onesvetaine.lt

 Debesų g. 1, Kaunas, 51369

 Įmonės kodas: 0000000

PVM kodas: LT100000000.</p>
   
</body>
</html>
